
  
  <div class="content" role="main">

    <h1>Page A</h1>
  
    <div class="card-container">
      <a routerLink = "pageB" class="card">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
        <span>Go to Page B</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
  
    </div>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
      <button class="card card-small" tabindex="0" (click) = "trackButtonAClick()">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Button A</span>
      </button>
  
    </div>
  
  </div>
